Source: chanko
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: pyproject-common
Standards-Version: 3.6.1

Package: chanko
Architecture: any
Depends: pyproject-common, pool, curl, bzip2, gpgv
Recommends: sumo
Description: efficiently get packages from public sources, optionally shared via sumo
