Source: chanko
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 pyproject-common,
Standards-Version: 3.6.1

Package: chanko
Architecture: any
Depends:
 ccurl,
 cpp,
 curl,
 gpgv,
 gzip,
 pool,
 pyproject-common,
Description: efficiently get packages from public sources
