Source: chanko
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 pyproject-common,
Standards-Version: 4.0.0

Package: chanko
Architecture: any
Depends:
 ccurl,
 cpp,
 curl,
 gpgv,
 gzip,
 pool,
 pyproject-common,
Description: efficiently get packages from public sources
